
<div class = "hero-unit">
	<h1>WELCOME TO ONE MONTH RAILS</h1>
	<p>What's going on?? this is rails, yo!</p>
		
	<p>You've found the
		<%= link_to "One Month Rails", "http://onemonthrails.com"  %>
		application
	</p>

	<p>
		<%= link_to "Sign up Now", new_user_registration_path, class: "btn btn-primary large" %>
	</p>
</div>